.Nav_Container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Nav_Container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.Nav_Container div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 2em;
    margin-right: 1em;
}

.Nav_Container li{
    color: #4D4D4D;
    font-weight: bold;
}

.Menu_Wrapper:hover{
    cursor: pointer;
    transition: border 1s;
    border:1px solid #D3695F;
    border-radius: 0.5em;
    color: #D3695F;
}

.Menu_Wrapper:hover > li{
    cursor: pointer;
    transition: color 1s;
    color: #D3695F;
}
