#navParent{
    min-width: 60vw;
    max-width: 60vw;
    margin-left: 20vw;
}

.seperator{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(#ffff), to(#adcae6));
}

.Nav_Container ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.Nav_Container li{
    color: #4D4D4D;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav_item a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #4D4D4D;
    width: 10vw;
    height: 5vh;
    border:1px solid transparent;
    border-radius: 0.5em;
}

.nav_item .button:hover{
    cursor: pointer;
    transition: border-color 1s, color 1s;
    color: #f2d8a7 !important;
    border-color:#f2d8a7;
    border-radius: 0.5em;    
}

.logo-ari-stop{
    height: 17vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo-ari{
    height: 17vh;
    display: flex;
    justify-content: center;
    align-content: center;
    animation: fade 1s ease-in;
}

@keyframes fade {
    0% { opacity: 0 }
}

.logo-ari:hover{
    cursor: pointer;
}


