#navParent{
    min-width: 60vw;
    max-width: 60vw;
    margin-left: 20vw;
}

.Nav_Container ul{
    display: flex;
    list-style: none;
}

.Nav_Container div{
    float: left;
    width: 10em;
    height: 2em;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Nav_Container li{
    color: #4D4D4D;
    font-weight: bold;
}

.Menu_Wrapper{
    border: 1px solid transparent;
}

.Menu_Wrapper:hover{
    cursor: pointer;
    transition: border 1s;
    border:1px solid #f2d8a7;
    border-radius: 0.5em;
    color: #f2d8a7;
}

.Menu_Wrapper:hover > li{
    cursor: pointer;
    transition: color 0.5s;
    color: #f2d8a7;
}

.logo-ari{
    height: 17vh;
    display: flex;
    justify-content: center;
    align-content: center;
    animation: fade 1s ease-in;
}

@keyframes fade {
    0% { opacity: 0 }
}
